@model List<ProyectoCRUD.Models.Contacto>

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hola soy la pagina Inicio</h2>

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">

        <div class="panel-panel-warning">
            <div class="panel-heading">
                <h4>Lista de Contacto</h4>
            </div>
            <div class="panel-body">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>correo</th>
                            <th style="width:150px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ProyectoCRUD.Models.Contacto item in Model)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.Apellido</td>
                                <td>@item.Correo</td>
                                <td>@item.Telefono</td>
                                <td></td>
                            </tr>

                        }


                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
